{% extends 'index.html' %}
{% load static %}

{% block banner %}

    <div class="site-blocks-cover inner-page" style="background-image: url(../../static/images/hero_bg_2.jpg);"
         data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7">
                    <span class="sub-text">Know Us</span>
                    <h1><strong>About</strong> Us</h1>
                    <p class="lead text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis
                        assumenda, adipisci. Dolores provident a, fugiat laboriosam vel assumenda soluta officia cum
                        doloribus blanditiis sunt necessitatibus excepturi dolorem, saepe totam sequi!</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
    <div class="site-section section-about">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-6 text-center">
                    <h2 class="site-heading text-black mb-5">A Team of <strong>Dedicated Dentist</strong></h2>
                </div>
            </div>


            <ul class="nav nav-tabs menu_tab center-box menu-mb text-center" role="tablist" style="display: inline;">
                {% for profile in profiles %}
                    <li class="nav-item">
                        <a class="nav-link btn dento-btn m-1" data-toggle="pill" href="#{{ profile }}" style="border: none">{{ profile }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content slideanim">
                {% for profile in profiles %}
                    <div id="{{ profile }}" class="tab-pane fade show">
                        <div class="row">
                            {% for doctor in doctors %}
                                {% if doctor.profile == profile %}
                                    <div class="col-md-4 pr-md-5 text-center mb-5" style="margin-top: 30px;">
                                        <div>
                                            <img src="{% static 'images/gallery_1.jpg' %}" alt="Image" class="w-50 mb-5">
                                            <h3>Dr. {{ doctor.first_name }} {{ doctor.last_name }}</h3>
                                            <p>{{ doctor.profile }}</p>
                                            <div class="col-12">
                                                <div class="more-btn text-center mt-50">
                                                    <a href="{{ doctor.get_absolute_url }}" class="btn dento-btn">
                                                        View More <i class="fa fa-angle-double-right"></i>
                                                    </a>
                                                </div>
                                            </div>

                                            <p class="mt-5">
                                                <a href="{{ doctor.facebook_link }}" class="py-4 pl-0 pr-2"><span class="icon-facebook"></span></a>
                                                <a href="{{ doctor.instagram_link }}" class="py-4 pl-2 pr-2"><span class="icon-instagram"></span></a>
                                                <a href="{{ doctor.linkedin_link }}" class="py-4 pl-2 pr-2"><span class="icon-linkedin"></span></a>
                                                <a href="{{ doctor.get_absolute_url }}" class="py-4 pl-2 pr-2"><span class="icon-heart"></span></a>
                                            </p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include 'includes/our_service.html' %}
    {% include 'includes/sale_counter.html' %}
{% endblock %}
