<div class="site-section bg-light">
    <a name="services"></a>
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-6 text-center">
                <h2 class="site-heading text-black mb-5">See Our <strong>Services</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="site-block-feature-2 d-flex rounded mb-5">
                    <div class="mr-3">
                        <span class="icon flaticon-tooth-whitening font-weight-light "></span>
                    </div>
                    <div class="text">
                        <h3>Tooth Whitening</h3>
                        <p>Professional teeth whitening in our dentistry offers the possibility
                            of bleaching teeth by several tones without damage to enamel.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="site-block-feature-2 d-flex rounded mb-5">
                    <div class="mr-3">
                        <span class="icon flaticon-stethoscope font-weight-light "></span>
                    </div>
                    <div class="text">
                        <h3>Stethoscope</h3>
                        <p>In a dental clinic, steth is required for measuring patient’s blood pressure.
                            Dental treatment has got lot of psychological effect on patient.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="site-block-feature-2 d-flex rounded mb-5">
                    <div class="mr-3">
                        <span class="icon flaticon-dentist-chair font-weight-light "></span>
                    </div>
                    <div class="text">
                        <h3>Dentist Chair</h3>
                        <p>Our equipment possibly includes an ultrasonic cleaning appliance, as well as a small
                            table to hold the instrument tray, a worklight, and possibly a computer monitor or display.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="site-block-feature-2 d-flex rounded mb-5">
                    <div class="mr-3">
                        <span class="icon flaticon-tooth-pliers font-weight-light "></span>
                    </div>
                    <div class="text">
                        <h3>Tooth Pliers</h3>
                        <p>Tooth extraction is a common but very painful dentistry procedure.
                            Luckily, this we have new invention of pain-free solution.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="site-block-feature-2 d-flex rounded mb-5">
                    <div class="mr-3">
                        <span class="icon flaticon-first-aid-kit font-weight-light "></span>
                    </div>
                    <div class="text">
                        <h3>First Aid Kit</h3>
                        <p>Dental practitioners are not permitted to have creams,
                            medicines or tablets in their first aid kits.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="site-block-feature-2 d-flex rounded mb-5">
                    <div class="mr-3">
                        <span class="icon flaticon-dentist-tools font-weight-light "></span>
                    </div>
                    <div class="text">
                        <h3>Dentist Tools</h3>
                        <p>Our tools allow dental professionals to manipulate tissues for better
                            visual access during treatment or during dental examination.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
