{% extends 'index.html' %}

{% block title %}
    Leave Comment - "{{ post.title|title }}"
{% endblock %}


{% block banner %}
    <div class="site-blocks-cover inner-page" style="background-color: #6c757d;"
         data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7">
                    <h1>Leave <strong>Comment</strong></h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">

        <h2 class="text-center p-details mt-5 mb-5">Comments</h2>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    {% for comment in comments %}
                        <div class="col-md-2">
                            <img src="https://image.ibb.co/jw55Ex/def_face.jpg"
                                 class="img img-rounded img-fluid"/>
                            <small class="text-secondary text-center">{{ comment.user.last_login }}</small>
                        </div>
                        <div class="col-md-10">
                            <p>
                                <strong>{{ comment.user.first_name }} {{ comment.user.last_name }}</strong>
                            </p>
                            <div class="clearfix"></div>
                            <p>{{ comment.content }}</p>
                        </div>
                    {% endfor %}
                </div>

                <h2 class="text-center p-details mb-5">Leave Comment</h2>
                <div class="card mb-2">
                    <div class="card-body mb-2">
                        <form action="" method="post" class="p-5 bg-light">
                            {% csrf_token %}
                            {% for field in form %}
                                {{ field }}
                            {% endfor %}

                            <button type="submit" class="btn btn-default float-right">Save Comment</button>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}